apache-airflow==2.8.0

# Required for Airflow to connect to DBs, Kafka, Redis, etc.
sqlalchemy<2.0.0
psycopg2-binary==2.9.9
kafka-python==2.0.2
redis==5.0.1
celery==5.3.4
boto3==1.33.0
python-dotenv==1.0.0
requests==2.31.0

# Langchain stack (compatible versions)
langchain==0.1.14
langchain-core==0.1.53
langsmith==0.1.147
langchain_openai==0.0.6


# Optional if used by your DAG code
openai==1.10.0
transformers==4.36.0
