prefect==2.14.0
prefect[postgres]==2.14.0
asyncpg==0.29.0

flask==2.2.5
flask-cors==4.0.0
pydantic>=2.3.0
sqlalchemy==1.4.46
psycopg2-binary==2.9.9
openai==1.10.0
google-cloud-texttospeech==2.15.0
kafka-python==2.0.2
boto3==1.33.0
requests==2.31.0
python-dotenv==1.0.0
pydub
PyJWT>=2.8.0
transformers==4.36.0

redis==5.0.1
celery==5.3.4

# Langchain stack (compatible versions)
langchain==0.1.14
langchain-core==0.1.53
langsmith==0.1.147
langchain_openai==0.0.6

griffe>=0.32.0